.notifications {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 20;
    max-width: 370px;
    width: 100%;

    @media (max-width: 420px) {
        max-width: calc(100% - 20px);
        right: 10px
    }
}