@use "../../styles/color-variables.module.scss";

a {
    &.btn {
        cursor: pointer;

        button {
            cursor: pointer;
        }
    }
}

.btn {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    height: 52px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;

    &.lg{
        height: 56px;
    }

    svg {
        width: 24px;
        margin-right: 10px;
    }

    button {
        background-color: transparent;
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
    }

    &.default {
        background: var(--button-blue);
        color: var(--text-white);

        @media (hover) {
            &:hover {
                background-color: var(--button-blue-hov);
            }
        }

        &:active {
            background-color: var(--button-blue-act);
        }
    }

    &.grey {
        background: var(--button-gray);
        color: var(--text-black);

        @media (hover) {
            &:hover {
                background: var(--button-gray-hov);
            }
        }

        &:active {
            background: var(--button-gray-act);
        }
    }

    &.bordered {
        border: 1px solid var(--stroke-blue);
        background-color: transparent;
        color: var(--text-black);

        &:hover {
            background: var(--transparent-b-12);
        }

        &:active {
            background: var(--transparent-b-24);
        }

        &.disabled {
            border-color: var(--stoke-dark);
            background: transparent;
            color: var(--text-gray);

            &:hover {
                border-color: var(--stoke-dark);
                background: transparent;
                color: var(--text-gray);
            }

            &:active {
                border-color: var(--stoke-dark);
                background: transparent;
                color: var(--text-gray);
            }
        }
    }

    &.transparent {
        background: var(--transparent-w-14);
        color: var(--text-white);

        &:hover {
            background: var(--transparent-w-30);
        }

        &:active {
            background: var(--transparent-w-30);
        }

        &.disabled {
            opacity: 0.4;
        }
    }

    &.whiteColor {
        background: var(--button-white);
        color: var(--text-black);

        &:hover {
            background: var(--button-gray-hov);
        }

        &:active {
            background: var(--button-gray-act);
        }
    }

    &.disabled {
        background: var(--button-gray-act);
        color: var(--text-gray);

        &:hover {
            background: var(--button-gray-act);
            color: var(--text-gray);
            cursor: not-allowed;
        }

        &:active {
            background: var(--button-gray-act);
            color: var(--text-gray);
        }
    }
}