* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

html,
body {
    max-width: 100vw;
    background-color: #fff;
}

img,
svg {
    width: 100%;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

table {
    display: table;
    border-collapse: collapse;
}

tbody,
thead {
    display: table-row-group;
}